.popup__input {
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.2;
  min-height: 40px;
}

.popup__input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.popup__input::-moz-placeholder {
  color: black;
  opacity: 1;
}

.popup__input:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.popup__input::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.popup__input::placeholder {
  color: black;
  opacity: 1;
}
